<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049652244089-ap9h84ghcin1oi9b4uc4tonl19v2vkh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049652244089-ap9h84ghcin1oi9b4uc4tonl19v2vkh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAnnJ17OtajYMHfbXa44p0rdj8UC176XE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1049652244089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ashpaul.zeromillionios</string>
	<key>PROJECT_ID</key>
	<string>zeromillionfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>zeromillionfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049652244089:ios:2046db29e322f895772ea8</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7785242093995268~8111724851</string>
</dict>
</plist>